[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
expects = "~=0.9"
mamba = "~=0.10"
pycodestyle = "~=2.5"

[packages]
flask = "~=1.1"
python-dotenv = "~=0.12"
stories = "~=0.12"
flask-api = "~=2.0"

[requires]
python_version = "3.7.0"

[scripts]
server = "flask run"
lint = "pycodestyle"
test = "mamba"
